@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  max-width: 1440px;
  margin: 0;
}

.shape-style {
  font-family: "Miama", sans-serif;
}
/* shared styles */

.bg-color {
  background: rgb(0, 0, 0);
}
.header-section {
  background: linear-gradient(
    360deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

#bars {
  display: none;
}

/* ends shared styles */

/* Navbar related Styles */
.nav-bar {
  width: 75%;
  height: 3.2%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav-bar h3,
.logo {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgb(230, 83, 60);
}

.nav-option {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 1.12rem;
  gap: 4.18rem;
  padding: 4px;
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}
.nav-option p {
  margin: 0 10px;
}

/* ends Navbar Related styles */

/* Banner Section Styles */
.banner-container {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

.banner-section {
  width: 75%;
  height: 40.27%;
  margin: 0 auto;
  display: flex;
}

.banner-text-content {
  padding-top: 40px;
}
.banner-text-content h3 {
  color: rgb(255, 255, 255);
  font-size: 4.87rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.shape-font-size{
font-size: 8rem;  
font-weight: 900;
}
.banner-text-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 28px;
}

.btn-1 {
  position: static;
  width: 220px;
  height: 50px;
  border-radius: 42px;
  border: none;
  margin-top: 44px;
  padding: 16px 40px 16px 40px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  background: rgb(230, 83, 60);
}

.btn-2 {
  position: static;
  width: 220px;
  height: 50px;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  margin-left: 10px;
}

.card-1 {
  position: absolute;
  width: 170px;
  height: 80px;
  gap: 10px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  margin-top: -180px;
  margin-left: -40px;
}

.card-1 i {
  width: 30px;
  height: 20px;
  padding: 5px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(230, 83, 60);
  color: white;
}
.card-1 h5 {
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(250, 250, 249);
  margin-bottom: 5px;
  line-height: 24px;
}
.card-1 p {
  font-size: 1rem;
  color: rgba(239, 237, 232, 0.65);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.card-2 {
  position: absolute;
  width: 170px;
  height: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  margin-top: -455px;
  margin-left: 220px;
}

.card-2 h5 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 40px;
  margin-top: 5px;
  color: rgb(255, 255, 255);
}

.card-2 p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.65);
  margin-top: 5px;
}

/* Ends banner Section */

/* Habit Section Related Styles */

.habit-section {
  width: 46.59%;
  height: 8.26%;
  margin: 0 auto;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.habit-section h3 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
}

.habit-section p {
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.habit-section-container {
  width: 75%;
  height: 19%;
  margin: 0 auto;
  margin-top: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.habit-section-container img {
  border-radius: 50%;
}

.habit-section-container h5 {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-top: 26px;
  line-height: 120%;
  letter-spacing: 0%;
}

.habit-section-container p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  margin-top: 10px;
}

/* Finished Habit Section  */

/* Run section Related styles */
.run-section {
  position: static;
  width: 75%;
  height: 25.76%;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: rgb(34, 34, 34);
}

.run-text-content {
  width: 34%;
  height: 22%;
  padding-left: 50px;
  padding-top: 20px;
}

.run-text-content h3 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
}

.run-text-content p {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.run-text-content button {
  position: static;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  margin-top: 20px;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  border: none;
}

.run-section img {
  margin-top: 30px;
  margin-right: 50px;
  border-radius: 18px;
  margin-bottom: 20px;
}

/* Ends Run Section Related Styles */

/* Bmi Section Related Styles */

.bmi-section {
  width: 46.59%;
  height: 8.33%;
  margin: 0 auto;
}

.bmi-section h3 {
  font-size: 3rem;
  font-size: 900;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
  margin-top: 88px;
}
.bmi-section p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-top: 14px;
}

.bmi-calculator-section {
  width: 100%;
  height: 33.81%;
  background: rgb(34, 34, 34);
  margin-top: 88px;
}

.bmi-container {
  width: 75%;
  height: 26.8%;
  margin: 0 auto;
  display: flex;
  gap: 175px;
}

.bmi-calculator-chart {
  width: 30.76%;
  height: 20.97%;
  margin-top: 52px;
}
.bmi-table-chart {
  width: 21.52%;
  height: 15%;
  margin-top: 52px;
}
.bmi-calculator-chart h4 {
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
  line-height: 120%;
}

.item-raw {
  display: grid;
  grid-template-columns: 155px 155px;
}

.item {
  padding: 10px 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.table-h {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.item-r {
  border-left: none;
}

.calculate-your-bmi {
  width: 50%;
  height: 26.8%;
  margin-top: 49px;
}
.calculate-your-bmi h4 {
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
  line-height: 120%;
}
.calculate-your-bmi p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-top: 14px;
}
.button-1 {
  width: 224px;
  height: 48px;
  text-align: left;
  margin-top: 20px;
  padding: 12px 40px 12px 20px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 22px;
}
.button-2 {
  width: 224px;
  height: 48px;
  text-align: left;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 40px 12px 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 22px;
}

.button-3 {
  width: 224px;
  height: 48px;
  text-align: left;
  margin-top: 10px;
  padding: 12px 40px 12px 20px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 22px;
}

.button-4 {
  width: 224px;
  height: 48px;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 40px 12px 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 22px;
}
.button-5 {
  width: 462px;
  height: 48px;
  border-radius: 8px;
  margin-top: 10px;
  padding: 12px 20px 12px 20px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
  font-weight: 400;
}
.button-6 {
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 13px 40px;
  border-radius: 42px;
  border: none;
  background: rgb(230, 83, 60);
  margin-top: 34px;
  margin-bottom: 30px;
}

/* Ends Bmi Section Related Styles */

/* Challenging Part Related Styles  */

.pricing-section {
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
}

.pricing-section h2 {
  font-size: 2rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-align: center;
}
.pricing-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.pricing-plans {
  position: relative;
  width: 32%;
  height: 320px;
  padding-top: 20px;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.pricing-plans h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding-left: 10px;
}
.pricing-plans h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding-top: 15px;
  padding-left: 10px;
}

.pricing-plans p {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 50px;
  padding-left: 10px;
}

.pricing-plans button {
  position: absolute;
  font-size: 1rem;
  background-color: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  margin-top: 40px;
  padding: 13px 40px 13px 40px;
  left: 10px;
  bottom: 10px;
  border: none;
  border-radius: 39px;
}

/* Ends Challenging Part Related Styles */

/* Our team Section Related Styles */

.team-section {
  width: 42.84%;
  height: 8.33%;
  margin: 0 auto;
  margin-top: 88px;
}

.team-section h3 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  align-items: center;
  text-align: center;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
}

.team-section p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.3px;
  margin-top: 14px;
}

.our-team-container {
  position: static;
  width: 73.83%;
  height: 42%;
  margin: 0 auto;
  margin-top: 58px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
}

.our-team-section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.our-team-section-container img {
  position: relative;
  width: 295px;
  height: 270px;
  margin-left: 8px;
  object-fit: cover;
  border-radius: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.our-team-section-container h5 {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  margin-top: -60px;
  margin-left: 25px;
}

.our-team-section-container p {
  position: absolute;
  font-size: 0.9rem;
  margin-top: -30px;
  margin-left: 25px;
  color: rgba(255, 255, 255, 0.5);
}

/* Ends Our team Section Related Styles */

/* Footer Section Related styles */

.footer-section {
  width: 100%;
  height: 34%;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 88px;
}

.footer-container {
  width: 73.54%;
  height: 19.3%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-text-content {
  width: 50%;
  height: 12.22%;
  margin-top: 60px;
}
.footer-text-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 70px;
  letter-spacing: 0.3px;
  text-align: left;
}

.footer-service-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 156px;
}
.footer-service-section h5 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

.footer-service-section p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 15px;
}

.copy-right {
  width: 73.54%;
  margin: 0 auto;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  margin-top: 50px;
}

.copy-right h5 {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  margin-top: 30px;
  padding: 0 0 20px 0;
}

/* Ends Footer Section Related styles */

/* Responsive For Small Device */

@media screen and (min-width: 320px) and (max-width: 576px) {
  #bars {
    display: block;
  }
  .nav-option p {
    display: none;
  }

  .banner-section {
    display: flex;
    flex-direction: column;
  }

  .banner-text-content h3 {
    font-size: 2.8rem;
  }
  .dancing-script{
  font-size: 4rem;  
  }
  .banner-text-content .btn-1 {
    width: 112px;
    height: 45px;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 5px 10px 5px 10px;
  }
  .banner-text-content .btn-2 {
    width: 112px;
    height: 45px;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 5px 10px 5px 10px;
  }
  .banner-img-content {
    position: relative;
  }
  .banner-img-content img {
    width: 80%;
    margin-top: 64px;
  }
  .card-1 {
    width: 150px;
    height: 65px;
    position: absolute;
    margin-left: 20px;
    display: flex;
  }
  .card-1 h5 {
    font-size: 1rem;
  }
  .card-1 p {
    font-size: 0.7rem;
  }
  .card-2 {
    width: 120px;
    height: 70px;
    position: absolute;
    top: 520px;
    right: 20px;
  }
  .card-2 h5 {
    font-size: 1.5rem;
  }
  .card-2 p {
    font-size: 0.6rem;
    margin-top: -4px;
  }
  .habit-section {
    width: 75%;
    margin: 0 auto;
  }

  .habit-section h3 {
    font-size: 1.5rem;
    margin-top: 15px;
  }
  .habit-section p {
    font-size: 0.9rem;
  }
  .habit-section-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .run-section {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .run-text-content h3 {
    position: static;
    width: 250px;
    text-align: start;
    font-size: 1.9rem;
    margin-left: -30px;
  }
  .run-text-content p {
    width: 230px;
    font-size: 0.7rem;
    margin-left: -30px;
  }
  .run-text-content button {
    width: 150px;
    margin-left: -30px;
    font-size: 0.8rem;
  }

  .run-section img {
    width: 80%;
    margin-left: 28px;
  }

  .bmi-section {
    width: 80%;
    padding-left: 35px;
    margin: 0;
    margin-top: -50px;
  }

  .bmi-section h3 {
    font-size: 1.5rem;
  }
  .bmi-section p {
    font-size: 0.8rem;
  }
  .bmi-calculator-section {
    width: 100%;
  }

  .bmi-container {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    gap: 10px;
  }
  .bmi-calculator-chart {
    width: 90%;
  }
  .bmi-calculator-chart h4 {
    font-size: 1.2rem;
    margin-left: -15px;
  }
  .bmi-table-chart {
    margin-left: -15px;
  }
  .table-h {
    font-size: 0.8rem;
  }
  .item-raw {
    display: grid;
    grid-template-columns: 135px 135px;
  }
  .calculate-your-bmi {
    width: 100%;
  }
  .calculate-your-bmi h4 {
    font-size: 1.2rem;
    margin-left: -15px;
  }
  .calculate-your-bmi p {
    width: 260px;
    margin-left: -15px;
  }
  .button-1 {
    width: 120px;
    margin-left: -15px;
  }
  .button-2 {
    width: 120px;
  }
  .button-3 {
    width: 120px;
    margin-left: -15px;
  }
  .button-4 {
    width: 120px;
  }
  .button-5 {
    width: 254px;
    margin-left: -15px;
  }
  .button-6 {
    margin-left: -15px;
  }
  .team-section {
    width: 80%;
  }
  .team-section h3 {
    font-size: 1.5rem;
    margin-top: -30px;
  }
  .our-team-section-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .our-team-section-container img {
    width: 90%;
    padding-left: 5px;
  }
  .our-team-section-container h5 {
    font-size: 1.15rem;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer-text-content {
    width: 90%;
  }
  .footer-text-content h3 {
    font-size: 3rem;
  }
  .footer-service-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
  }
  .footer-service-section h5 {
    font-size: 1.2rem;
  }
  .pricing-section h2 {
    font-size: 1.5rem;
  }
  .pricing-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .pricing-plans {
    width: 90%;
    gap: 20px;
    margin: 0 auto;
  }
}
